body{
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #E5E5E5;
  box-sizing: border-box;
}

p, h5, li{
  margin: 0;
  padding: 0;
}

.movie__app {
  margin: 0 auto;
  width: 1010px;
  background-color: #fff;
}