body {
  font-family: 'Inter', serif;
  font-weight: 400;
  font-size: 12px;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #e5e5e5;
  box-sizing: border-box;
}

p,
h5,
li {
  margin: 0;
  padding: 0;
}

.movie__app {
  padding-bottom: 30px;
  margin: 0 auto;
  width: 1010px;
  background-color: #fff;
}

.offline__wrapper {
  width: 80%;
  margin: 80px auto;
}

.offline {
  color: red;
}
