.header__buttons {
  padding-top: 32px;
  width: 145px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.header__button {
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  line-height: 22px;
  border: 1px solid #fff;
  background-color: #fff;
  cursor: pointer;
}

.header__button:hover {
  border: 1px solid #1890ff;
}

.active {
  box-shadow: 0 4px 4px 0 #0000 25%;
  color: #1890ff;
}
